:root {
  --background: rgb(255, 0, 0);
  --foreground: rgb(15, 0, 255);
  --card: rgb(255, 0, 0);
  --card-foreground: rgb(15, 0, 255);
  --popover: rgb(255, 0, 0);
  --popover-foreground: rgb(15, 0, 255);
  --primary: rgb(153, 64, 255);
  --primary-foreground: rgb(247, 4, 255);
  --secondary: rgb(247, 1, 255);
  --secondary-foreground: rgb(54, 1, 255);
  --muted: rgb(247, 1, 255);
  --muted-foreground: rgb(141, 4, 255);
  --accent: rgb(247, 1, 255);
  --accent-foreground: rgb(54, 1, 255);
  --destructive: rgb(147, 62, 11);
  --border: rgb(235, 1, 255);
  --input: rgb(235, 1, 255);
  --ring: rgb(153, 64, 255);
  --chart-1: rgb(165, 57, 10);
  --chart-2: rgb(153, 30, 255);
  --chart-3: rgb(102, 18, 255);
  --chart-4: rgb(211, 48, 255);
  --chart-5: rgb(196, 48, 18);
  --sidebar: rgb(251, 0, 0);
  --sidebar-foreground: rgb(15, 0, 255);
  --sidebar-primary: rgb(153, 64, 255);
  --sidebar-primary-foreground: rgb(247, 4, 255);
  --sidebar-accent: rgb(247, 1, 255);
  --sidebar-accent-foreground: rgb(54, 1, 255);
  --sidebar-border: rgb(235, 1, 255);
  --sidebar-ring: rgb(153, 64, 255);
}

.dark {
  --background: rgb(15, 0, 255);
  --foreground: rgb(251, 0, 0);
  --card: rgb(54, 1, 255);
  --card-foreground: rgb(251, 0, 0);
  --popover: rgb(54, 1, 255);
  --popover-foreground: rgb(251, 0, 0);
  --primary: rgb(138, 72, 255);
  --primary-foreground: rgb(247, 4, 255);
  --secondary: rgb(70, 1, 255);
  --secondary-foreground: rgb(251, 0, 0);
  --muted: rgb(70, 1, 255);
  --muted-foreground: rgb(180, 4, 255);
  --accent: rgb(70, 1, 255);
  --accent-foreground: rgb(251, 0, 0);
  --destructive: rgb(179, 49, 6);
  --border: rgba(255, 0, 0, 0.1);
  --input: rgba(255, 0, 0, 0.15);
  --ring: rgb(138, 72, 255);
  --chart-1: rgb(124, 62, 255);
  --chart-2: rgb(178, 43, 162);
  --chart-3: rgb(196, 48, 18);
  --chart-4: rgb(160, 63, 255);
  --chart-5: rgb(165, 62, 4);
  --sidebar: rgb(54, 1, 255);
  --sidebar-foreground: rgb(251, 0, 0);
  --sidebar-primary: rgb(138, 72, 255);
  --sidebar-primary-foreground: rgb(247, 4, 255);
  --sidebar-accent: rgb(70, 1, 255);
  --sidebar-accent-foreground: rgb(251, 0, 0);
  --sidebar-border: rgba(255, 0, 0, 0.1);
  --sidebar-ring: rgb(138, 72, 255);
}
